# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on: # When this workflow shall be run. As-is, this workflow will run when "main" is updated, or when PRs for "main" are updated.
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    name: Maven Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17' # TODO: Update accordingly. See "strategy matrix" for testing multiple versions.
        distribution: 'temurin'
        cache: maven
    - name: Maven Build
      run: mvn -B package --no-transfer-progress --file pom.xml
